@font-face {
  font-family: Lato;
  src: url("../fonts/9623.ttf");
}
@font-face {
  font-family: Lato Bold;
  src: url("../fonts/9623.ttf");
}

*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: "Lato" , serif;
    position: absolute;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}
.header {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
            ), url(../img/bg.png);
    background-position: center;
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, .2);;
}
.menu {
    width: 630px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu-link {
    color: white;
    font-size: 1.6rem;
    font-family: "Lato";
    text-decoration: none;
}
.menu-link:focus{
    border-bottom: 2px solid white;
    padding-bottom: 23px;
}
.logo img {
    margin-left: -14px;
}
.hello {
    font-size: 7.2rem;
    font-family: "Myriad Pro" , "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .welove {
    font-size: 3.2rem;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
  }
  .member {
    display: flex;
    background-color: #2fac6c;
    width: 100%;
  }
  .login {
    font-size: 2.2rem;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;

    height: 123px;
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21424a;
    transform: skewX(-15deg);
    margin-left: -25px;
  }
  .login p {
      transform: skewX(15deg);
  }
  .reg {
    height: 123px;
    font-size: 2.2rem;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    background-color: #fff;
    width: 100%;
    height: 578px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .offer { 
    width: 890px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .would {
    font-family: "Lato Heavy", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 2.4rem;
    color: rgba(56, 55, 55, 255);
    display: flex;
    justify-content: center;
  }
  .offer-text {
    font-family: "Montserrat UltraLight", "AdobeInvisFont", "MyriadPro Regular";
    font-size: 1.6rem;
    color: rgba(162, 162, 162, 255);
    display: flex;
    justify-content: center;
  }
  .form {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    width: 95%;
    height: 50px;
    align-items: center;
  }
  .www {
    font-family: "Lato Semibold", "Lato Regular", "Lato Bold";
    font-size: 1.6rem;
    color: rgba(203, 203, 203, 255);
    width: 10%;
    display: flex;
    justify-content: center;
    border:white;
    border-right:1px solid rgba(0, 0, 0, 0.25); 
    padding:7px;
  }
  .dot {
    font-family: "Lato Semibold", "Lato Regular", "Lato Bold";
    font-size: 1.6rem;
    color: rgba(203, 203, 203, 255);
    width: 10%;
    display: flex;
    justify-content: center;
    border:white;
    padding: 13.5px;
  }
  .want {
    font-family: "Lato Semibold", "AdobeInvisFont", "MyriadPro Regular";
    font-size: 1.5rem;
    color: rgba(134, 134, 134, 255);
    width: 80%;
    border:white;
    border-right:1px solid rgba(0, 0, 0, 0.25);
    padding:7px;
    padding-top: 16px;
    padding-bottom: 15px;
  }
  .table-price {
    border: 1px solid rgba(203, 203, 203, 255);
    width: 95%;
    height: 200px;
    border-collapse: collapse;
  }
  .table-price td {
    font-family: "Lato Regular", "AdobeInvisFont", "MyriadPro Regular";
    font-size: 1.4rem;
    color: rgba(203, 203, 203, 255);
    width: 25%;
    border: 1px dotted rgba(203, 203, 203, 255);
    text-align: center;
    margin: 0;
  }
.pack-main {
  width: 100%;
  height: 100vh;
  background: url("../img/Packages.png") no-repeat;
  background-size: 100% 50%;
}
.packages {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pack-price {
  background-color: #fff;
  height: 75%;
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}





  
 